.input-no-border {
  border: none !important;
  border-radius: 0;
  box-shadow: none;
  background-color: #f9f9f9; /* optional */
}

.input-no-radius {
  border-radius: 0 !important;
   inline-size: '280px';
   block-size: '48px';
}

.custom-input {
  width: 280px !important;
  height: 48px !important;
  border-radius: 0 !important;
}
